.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: #fff;
    color: #333;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

.logo {
    font-size: 20px;
    text-transform: uppercase;
}
/* .header a {
    color: #333;
    margin-right: 20px;
  } */